## Redirect 301 from all domains without www

ErrorDocument 404 http://www.lk.cs.ucla.edu/index.html

#Options +FollowSymlinks 
RewriteEngine on
RewriteBase /

RewriteCond %{http_host} ^lk.cs.ucla.edu 
RewriteRule ^(.*)$ http://www.lk.cs.ucla.edu/$1 [r=301,nc]

RewriteRule ^lo$							index.php?_m=login&action=index

RewriteRule ^publications.html$				bibwiki.html	[L,qsappend]
RewriteRule ^bibliography-(.*).html$		bibwiki-$1.html [L,qsappend]

RewriteCond %{REQUEST_fileNAME} !-f
RewriteRule ^([a-z0-9A-Z_\-]+)\.html$	index.php?_m=staticPages&action=show&id=$1	[L,qsappend]

RewriteRule ^([a-z0-9A-Z_\-]+)/([a-z0-9A-Z_\-]+)$	index.php?_m=$1&action=$2	[L,qsappend]

RewriteCond %{REQUEST_fileNAME} !-d
RewriteRule ^([a-z0-9A-Z_\-]+)/$			index.php?_m=$1&action=index	[L,qsappend]

RewriteRule ^([a-z0-9A-Z_\-]+)\.vhtml$   index.php?_m=videos&page=$1  [L,qsappend]

