
body {
margin : 0;
padding : 0;
font : 90% "lucida sans", tahoma, "Trebuchet MS", arial, verdana, sans-serif;
color : #555;
background : #f7f7f7;
}
#container {
width : 99.5%;
margin-left : auto;
margin-right : auto;
padding : 0;
/*line-height : 130%;*/
width: 1024px;
margin: 0 auto;
}
#banner {
/*height : 184px;*/
padding-top : 5px;
/*background : #f7f7f7 url(images/image00.jpg) no-repeat;*/
color : #333;
}
#banner h1 {margin : 0;
padding : 5px;
/*float: left;*/
background : transparent;
color : #000;
}
#navlist {
padding : 4px 5px 5px 0;
margin : 0 0 20px 0;
text-align : left;
letter-spacing : 3px;
color : #fff;
background : #476042;
line-height: 1.5em;
}
#navlist li {
list-style : none;
margin : 0;
display : inline;
}
#navlist li a {
padding : 5px 0.75em;
margin : 0;
color : #fff;
background : #476042;
text-decoration : none;
}
#navlist li a:link {
color : #fff;
background : #476042;
}
#navlist li a:visited {
color : #fff;
background : #476042;
}
#navlist li a:hover {
color : #000;
background : #7ABA2E;
}
#navlist li a#current {
color : #fff;
background : #7ABA2E;
}
.menu ul li {
line-height : 1.8em;
margin : 0 10px 0 0;
padding : 0;
list-style-type : square;
color : #476042;
background : inherit;
}
.menu ul li a {
color : #f17c0b;
background : inherit;
}
.menu ul li a:hover {
color : #7ABA2E;
background : inherit;
}
#content {
padding: 0 20px 0 15px;
margin-left : 250px;
border-left : 1px dashed #333;
color : #555;
background-color : #f7f7f7;
}
p {
margin : 10px;
}
#sidebar-a {
float : left;
width : 220px;
margin-left : 5px;
padding : 0 5px 0 5px;
color : #666;
background : #f7f7f7;
font-size: 90%;
}
#sidebar-b {
float : right;
width : 140px;
margin : 0 5px 0 0 ;
padding : 0 5px 15px 5px;
color : #333;
background : #faf8e9;
}
#footer {
clear : both;
padding : 5px;
margin : 0;
background : #476042;
color : #f7f7f7;
font-size : 75%;
line-height: 1.5em;
}

a {
text-decoration : none;
color : #f17c0b;
background : inherit;
}
a:hover {
text-decoration : underline;
color : #aaa;
background : inherit;
}
a img {
border : 0;
}
.border {
padding : 10px;
margin : 10px;
border : 1px solid #476042;
}
.imgleft {
float : left;
border : 1px solid #90b905;
margin : 5px 10px 10px 15px;
padding : 5px;
}
h1 {
margin : 20px;
padding : 5px;
font-size : 150%;
letter-spacing : 3px;
color : #fff;
background : #476042;
}
h2 {
padding-left : 20px;
font-size : 140%;
text-transform : uppercase;
/*letter-spacing : 1px;*/
color : #476042;
background : inherit;
}
h3 {
padding : 5px;
text-transform : uppercase;
font-size : 110%;
color : #fff;
background : #476042;
}
h4 {
padding : 5px;
text-transform : uppercase;
font-size : 110%;
color : #fff;
background : #f17c0b;
}
h5 {
	font-size : 110%;
	padding: 1px;
	margin: 1px;
	font-weight: bold;
}

blockquote {
font-weight : bold;
font-style : italic;
color : #b29b35;
}
.clear {
clear : both;
width : 100%;
}
.col3,.col3center {
float: left;
width: 30.5%;
}
.col3center {
margin: 0 3%;
}

/* //-- yui-grids style overrides -- */
.yui-gf { margin-bottom: 1em; padding-bottom: 1em; border-bottom: 1px solid #ccc;  }
.yui-u p { margin: 0; margin-bottom: 10px; }
.first h2 { font-size: 15pt; margin-bottom: 1em; text-transform: none; }
/* //-- core typography and style -- */

/* //-- section styles -- */

.job { position: relative; margin-bottom: 0.5em; padding-bottom: 0.5em; border-bottom: 1px solid #ccc; z-index: 0; }
.job h2 { text-transform: none; font-size: 100%; padding: 0; margin: 0; background: none; }
.job h3 { font-weight: normal; font-style: italic; text-transform: none; background: none; font-size: 100%; margin: 0; padding: 0; color: #555555; margin-right: 100px;}
.job h4 { position: absolute; top: 0.35em; right: 0; text-transform: none; font-size: 100%; background: none; color: black; padding:0; margin:0; }
.job p { margin: 0em 0 0.1em 0; }

.last { border: none; }
.skills-list {  }
.skills-list ul { margin: 0; }
.skills-list li { margin: 3px 0; padding: 3px 0; }
.skills-list li span { font-size: 152%; display: block; margin-bottom: -2px; padding: 0 }
.talent { width: 32%; float: left }
.talent h2 { margin-bottom: 6px; }

#srt-ttab { margin-bottom: 100px; text-align: center;  }
#srt-ttab img.last { margin-top: 20px }

