#offtable {
margin:10px 0pt 20px;
}
#offtable tr td {
padding:5px;
text-align:left;
}
.offtable {
margin:0pt;
width: 100%;
}
.offtable tr td {
padding:5px 0pt 5px 5px;
text-align:left;
vertical-align:middle;
width:13%;
}
td.td1 {
}
td.td2 {
}
td.td3, td.td4, td.td5, td.td6 {
}
td.td7 {
}
.firsttr {
background:#E8E8E8 none repeat scroll 0% 0%;
}
.secondtr td {
border:2px solid #FFFFFF;
}
#toptable td {
text-align:center;
vertical-align:middle;
}
#toptable span {
color:#555555;
font-weight:bold;
}
#toptable {
background:#D8D9DA none repeat scroll 0% 0%;
}
.h1table {
font-weight:bold;
text-align:center;
color: #555555;
background:#F4F4F4 none repeat scroll 0% 0%;
}
.h2table {
color:#555555;
font-weight:bold;
background:#F4F4F4 none repeat scroll 0% 0%;
}
div.tableContainer {
border:0px solid #996633;
font-size:10px !important;
overflow:hidden;
width:695px;
}
html > body div.tableContainer {
overflow:hidden;
width:690px;
}
div.tableContainer table {
width:695px;
}
.scrollable {
height:550px;
overflow-x:hidden;
overflow-y:scroll;
width:100%;
}
html > body div.tableContainer table {
width:690px;
}
.firsttr td {
width:13%;
}
html > body table.offtable td {
width:25%;
}
